# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Outputs
results/generated/*
*.parquet
*.feather
*.pkl
*.joblib
*.pt
*.pth

# OS / IDE
.DS_Store
.vscode/
.idea/
